
/* Fundo preto com estrelas */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
}

.stars, .twinkling {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: black url("https://i.imgur.com/bgY6bC8.png") repeat;
    z-index: 0;
}

.twinkling {
    background: transparent url("https://i.imgur.com/XYMF7sB.png") repeat;
    animation: move 10s linear infinite;
    z-index: 1;
}

@keyframes move {
    from {background-position: 0 0;}
    to {background-position: -1000px 500px;}
}

/* Carta */
.carta {
    position: relative;
    z-index: 2;
    background: #fffdf7;
    width: 90%;
    max-width: 500px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
    text-align: center;
}

.carta h1 {
    font-size: 2.2rem;
}

.carta p {
    font-size: 1.6rem;
    line-height: 1.6;
}
